<section class="content sections single-post">
    <article class="single-post">
        <!-- Display the post title -->
        <h2><q>{{postTitle}}</q></h2>
        <!-- Display the post content -->
        <p>{{textContent}}</p>
        <!-- Log the current user to the console with a custom message -->
        {{consoleLog 'postLogout:' currentUser}}
        <!-- Check if the current user owns the post or comment -->
        {{#if (ownsPostOrComment user.id post.user_id)}}
            <!-- Display a delete button for the post -->
            <button class="delete-button" data-id="{{post.id}}" data-type="post">Delete Post</button>
        {{/if}}
        <!-- Display the name of the user who posted the content -->
        <p>Posted by: </p>
        <!-- Display the number of likes for the post -->
        <p>Likes: {{postLikes}}</p>
        <section class="comments">
            <h3>Comments</h3>
            <!-- Form to add a new comment -->
            <form class="login-form" action="/comments/add" method="post">
                <!-- Textarea to enter the comment content -->
                <textarea id="comment" name="commentContent" placeholder="Write your comment here"></textarea>
                <!-- Button to submit the comment -->
                <button class="login-button" type="submit">Add Comment</button>
            </form>
            <!-- Iterate over each comment -->
            {{#each comments as |comment|}}
                <article class="comment">
                    <!-- Display the comment content -->
                    <p>{{comment.dataValues.content}}</p>
                    <!-- Display the username of the user who commented -->
                    <p>Commented by: {{comment.User.username}}</p>
                    <!-- Check if the comment has any likes -->
                    {{#if comments.likes}}
                        <!-- Display the number of likes for the comment -->
                        <p>Likes: {{comment.likes}}</p>
                    {{/if}}
                </article>
            {{/each}}
        </section>
    </article>
</section>
