{{#if user}}
<aside class="sidebar">
    <nav id="sidebar-nav">
        <ul>
            {{#each topics as |topic|}}
            <li><a href="#{{topic.name}}">{{topic.name}}</a></li>
            {{/each}}
        </ul>
    </nav>
</aside>  
<section class="sections profile">
    <br>

    <h2>Welcome to Your Profile, {{user.username}}!</h2>
    <h3>Your Posts:</h3>
    <ul>
        {{#each userPosts as |post|}} <!-- Adjust the path to user's posts -->
            <li>
                <h3>{{post.title}}</h3>
                <p>{{post.text_content}}</p>
            </li>
        {{/each}}
    </ul>
</section>
{{else}}
<section class="sections reject">
  <div class="rejection-text">
    <p>Please log in or sign up to access this content.</p>
    <br>
    <a href="/signup">Signup</a></p>
  </div>
  <br>
  <p>Already have an account? <a href="/login">Login</a></p>
  <!-- Display message for unauthenticated users -->
</section>
{{/if}}