{{#if user}}
<aside class="sidebar">
    <nav id="sidebar-nav">
        <ul>
            {{#if userPosts.length}}
                {{#each userPosts as |post|}}
                <li><a href="#post{{post.dataValues.post_id}}">{{post.dataValues.title}}</a></li>
                {{/each}}
            {{else}}
                <li>You don't have any posts</li>
            {{/if}}
        </ul>
    </nav>
</aside>  
<section class="sections profile">
    <br>

    <h2>Welcome to Your Profile, {{user}}!</h2>
    <h3>Your Posts:</h3>
    {{#if userPosts.length}}
        <ul class="post-list">
            {{#each userPosts as |post|}}
                <div class="subsections" id="post{{post.dataValues.post_id}}">
                    <a class="post-link" href="/posts/{{post.dataValues.post_id}}">
                        <h3><q>{{post.dataValues.title}}</q></h3>
                        <p>{{post.dataValues.text_content}}</p>
                    </a>
                </div>
            {{/each}}
        </ul>
    {{else}}
        <p>You don't have any posts yet. Start by creating a new post!</p>
    {{/if}}
</section>
{{else}}
<section class="sections reject">
  <div class="rejection-text">
    <p>Please log in or sign up to access this content.</p>
    <br>
    <a href="/signup">Signup</a></p>
  </div>
  <br>
  <p>Already have an account? <a href="/login">Login</a></p>
  <!-- Display message for unauthenticated users -->
</section>
{{/if}}
